- unless articles.empty?
  .container
    - articles.each do |article|
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          - if article.image.present?
            = image_tag article.image.url(:thumb)
          .caption
            %h4
              = link_to article.title, article, style: 'text-align: center;'
            %p
              = truncate article.text, length: 150

  = paginate articles, theme: 'twitter-bootstrap-3' if articles  && articles.try(:total_pages)
